<div id="order">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card border-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
                                <img src="../../../../assets/images/116728-15.jpg" alt="" srcset="">
                            </div>
                            <div class="col-md-7">
                                <span class="descricao">SHAMPOO PANVEL HAIR THERAPY LISO PERFEITO 290ML 19</span>
                            </div>
                            <div class="col-md-3">
                                <div class="un">1 unidade</div>
                                <div class="un-valor">R$ 15.99</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>04/08/2020</h4>
                <table class="table">
                    <tbody>
                      <tr>
                        <td class="label">Número do Pedido</td>
                        <td class="valor selected-id text-right">{{selectedId}}</td>
                      </tr>
                      <tr>
                        <td class="label">Subtotal</td>
                        <td class="valor text-right">R$ 15.99</td>
                      </tr>
                      <tr>
                        <td class="label">Frete</td>
                        <td class="valor text-right">R$ 3.90</td>
                      </tr>
                      <tr>
                        <td class="label">Forma de Pagamento</td>
                        <td class="valor text-right"></td>
                      </tr>
                      <tr>
                        <td class="label">Endereço de Entrega</td>
                        <td class="valor text-right">
                            AV. CRISTOVAO COLOMBO, 500 / 
                            FLORESTA - PORTO ALEGRE / BR
                            CEP 90560001
                        </td>
                      </tr>
                      <tr>
                        <td class="label total">TOTAL</td>
                        <td class="valor total text-right">
                            R$ 19.89
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>